@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

.header {
    background-color: var(--second-color);
    width: 100vw;
    height: 60px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-family: 'Nunito';
    font-weight: 600;
    margin-right: 8px;
    color: #FFF;
}

.anchor::after {
    content: url('../assets/icons/Ellipse.png');
    margin-left: 4px;
}